{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col mt-5">
            <h2>Users</h2>
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Username</th>
                        <th scope="col">FullName</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr class="table-primary">
                            <th scope="row"> 
                            <a href=""><img class="float-left mr-3"  src="" 
                                alt="image" style="width:100px;height:100px;"/></a></th>
                            <td><a href="#">{{user.username}}</a></td>
                            <td>{{user.LastName}} {{user.FirstName}}</td>
                            <td> 
                                <a class="btn btn-primary btn-sm" 
                                href="{{ path('security_users_show' ,{"id": user.id}) }}" role="button">
                                Details
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
