{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container mt-5"> 
        <div class="row"> 
            <div class="col-6 align-self-center mb-5" > 
                    <h1 class="mb-3">EPM</h1>
                    <h4>E-Project Management Platform<h4>
            </div> 
            <div class="col-6 align-self-center"  > 
                <img src="/images/home.svg"  height="500" width="500" alt="homeSVG" >
            </div> 
       </div>
       <hr class=" mx-auto w-25 p-1" style="background-color: #ADB5BD;" >
       <div class="row">
        <h2 class="text-center">About<h2>
       </div>

    </div>

{% endblock %}
