{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container mt-5"> 
        <div class="row"> 
            <div class="col-6 align-self-center mb-5" > 
                    <h1 class="mb-3">EPM</h1>
                    <h4>E-Project Management Platform<h4>
            </div> 
            <div class="col-6 align-self-center"  > 
                <img src="/images/home.svg"  height="500" width="500" alt="homeSVG" >
            </div> 
       </div>
       <hr class=" mx-auto w-25 p-1" style="background-color: #ADB5BD;" >
       <div class="row mt-5">
            <h2 class="text-center">Features<h2>
            <div class="row mt-5 mb-5">
                <div class="col-4"> 
                    <div class="card border-secondary mb-3" style="max-width: 20rem;  height: 5em; ">
                        <div class="card-header">
                            <h4 class="text-center">Feature1</h4>
                        </div>
                        <div class="card-body">
                            <p class="h6 font-weight-lighter" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4"> 
                    <div class="card border-secondary mb-3" style="max-width: 20rem;  height: 5em; ">
                        <div class="card-header">
                            <h4 class="text-center" >Feature2</h4>
                        </div>
                        <div class="card-body">
                            <p class="h6 font-weight-lighter" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4"> 
                    <div class="card border-secondary mb-3" style="max-width: 20rem;  height: 5em; ">
                        <div class="card-header">
                            <h4 class="text-center">Feature3</h4>
                        </div>
                        <div class="card-body">
                            <p class="h6 font-weight-lighter" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
       </div>
       <hr class=" mx-auto w-25 p-1" style="background-color: #ADB5BD;" >
       <div class="row mt-5">
            <div class="row">
                <div class="col-6 align-self-center mt-5">
                    <div class="list-group ">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h2 class="mb-1">SignIn</h2>
                            </div>
                            <p class="mb-1">Login to Create & Manage your projects.</small><br><br>
                             <button type="button" class="btn btn-secondary">Sign In</button>
                             <button type="button" class="btn btn-outline-light">Sign Up</button>
                        </a>
                    </div>
                </div>
                <div class="col-6 align-self-right mb-5"> 
                <img src="/images/login.svg"  height="600" width="600" alt="loginSVG" >
                </div>
            </div>
        </div>
    </div>

{% endblock %}
