<form method="post"
      action="{{ path('app_livrable_delete', {'id': liv.id}) }}"
      style="display:inline;"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liv.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fa fa-remove"></i></button>
</form>
