{% extends 'base.html.twig' %}

{% block title %}Edit Tache{% endblock %}

{% block body %}
    
    <div class="container mt-5">
    <div class="row">
        <div class="col-6 mt-5">
            <h1 class="text-center">Update Tache</h1>
        </div>
    </div>
        <div class="row">
            <div class="col mt-3">
                 {{ include('tache/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
{% endblock %}
