{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
    
    <div class="container mt-5"> 
    <div class="row">
        <div class="col-6 mt-5">
            <h1 class="text-center">Edit a Client</h1>
        </div>
    </div>
    <div class="row "> 
        <div class="col"> 
            {{ include('client/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>     
</div>
{% endblock %}
