{% extends 'base.html.twig' %}

{% block body %}
    <h1>Error </h1>
    <h1>Not authorized !!!!!!!</h1>

    <p>
        Erreur Inconnue...
        Merci de revenir vers la <a href="{{ path('app_home') }}">Page d'acceuil</a>.
    </p>
{% endblock %}